<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Internet and Network Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Storage Permissions -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- Camera Permissions -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Location Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Hardware Features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="StockPilot"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StockPilot"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".services.NetworkDiscoveryService"
            android:exported="false" />
        <activity
            android:name=".AddPurchaseOrderActivity"
            android:exported="true" />
        <activity
            android:name=".EditPurchaseOrderActivity"
            android:exported="true" />
        <activity
            android:name=".PurchaseOrderDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".PurchaseOrdersActivity"
            android:exported="true" />
        <activity
            android:name=".ProductSelectionActivity"
            android:exported="true" />
        <activity
            android:name=".ReportsActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".DeleteStaffActivity"
            android:exported="true" />
        <activity
            android:name=".AddStaffActivity"
            android:exported="true" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".DialogSelectLayout"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.stockpilot.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.stockpilot.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".PurchaseReportsActivity"
            android:exported="true" />
        <activity
            android:name=".SalesReportsActivity"
            android:exported="true" />
        <activity
            android:name=".InventoryReportsActivity"
            android:exported="true" />
        <activity
            android:name=".FinancialReportsActivity"
            android:exported="true" />
        <activity
            android:name=".VendorsActivity"
            android:exported="true" />
        <activity
            android:name=".AddSaleActivity"
            android:exported="true" />
        <activity
            android:name=".ItemInventoryProduct"
            android:exported="true" />

        <activity
            android:name=".AddShipmentActivity"
            android:exported="true" />
        <activity
            android:name=".NotificationDetailActivity"
            android:exported="true" />
        <activity
            android:name=".TrackShipment"
            android:exported="true" />
        <activity
            android:name=".CreateShipmentActivity"
            android:exported="true" />
        <activity
            android:name=".EditCustomerActivity"
            android:exported="true" />
        <activity
            android:name=".AddCustomerActivity"
            android:exported="true" />
        <activity
            android:name=".Settings"
            android:exported="true" />
        <activity
            android:name=".ItemInvoiceDetailProduct"
            android:exported="true" />
        <activity
            android:name=".InviceProductItem"
            android:exported="true" />
        <activity
            android:name=".InvoiceDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".CreateInvoiceActivity"
            android:exported="true" />
        <activity
            android:name=".ShipmentDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ShipmentActivity"
            android:exported="true" />
        <activity
            android:name=".SalesReturnActivity"
            android:exported="true" />

        <activity
            android:name=".PackagesActivity"
            android:exported="true" />
        <activity
            android:name=".SalesOrdersActivity"
            android:exported="true" />
        <activity
            android:name=".CustomersActivity"
            android:exported="true" />
        <activity
            android:name=".InventoryAdjustmentsActivity"
            android:exported="true" />
        <activity
            android:name=".ItemGroupsActivity"
            android:exported="true" />
        <activity
            android:name=".ItemsActivity"
            android:exported="true" />
        <activity
            android:name=".Scanner_Helper"
            android:theme="@style/Theme.StockPilot" />

        <activity
            android:name=".AddVendorActivity"
            android:exported="true" />
        <activity
            android:name=".EditVendorActivity"
            android:exported="true" />

        <meta-data
            android:name="android.opengl.usage"
            android:value="compatibility" />

        <activity
            android:name=".AdminHomeActivity"
            android:exported="true" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="true" />
        <activity
            android:name=".signup"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddBatchActivity"
            android:exported="true"/>
        <activity android:name=".activities.BatchListActivity"
            android:exported="true"/>
    </application>

</manifest>